body{
    font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
}
section{
    display: flex;
}
.half-witdh{
    width: 50%;
}
.half-witdh img{
width: 90%;
}
.name-color{
    color: rgb(250, 164, 3);
}
.top{
    margin-top: 90px;
    padding-left: 120px;
}
.anchor{
    text-decoration: none;
    background-color: rgb(255, 166, 1);
    padding: 6px 15px;
    color: white;
    font-size: 7px;
    border-radius: 3px;
}
.first{
    background-image: url(header-bg.png);
}